body {
    padding: 25px;
}
section {
    display: flex; flex-wrap: wrap; gap: 2em;
    justify-content: space-between;
}

a {
    background-color: #00d1b2; color: #fff;
    text-decoration: none;
    padding: 3px; border-radius: 6px;
}
