body {
    padding: 25px;
}
section {
    display: flex; flex-wrap: wrap; gap: 2em;
    justify-content: space-between;
}
section > * {flex-basis: 50%}
a {
    background-color: #00d1b2;
    color: #fff;
    text-decoration: none;
}
